LEGISCAN_API_KEY=your_legiscan_key
PIPELINE_ARTIFACT_BUCKET=your_arc_bucket
PIPELINE_SESSION_STATE_TABLE=session_state
PIPELINE_WATERMARK_TABLE=pipeline_watermark
ARTIFACT_ROOT_PREFIX=inference
AWS_DEFAULT_REGION=us-west-2
